/* header { 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: lightcoral;
  } */
  .sidebar {
    position: absolute;
    top: 60px;
    left: -300px;
    height: 100%;
    width: 300px;
    transition: left .3s ease-in-out;
    background-color: white;
  }
  .sidebar-toggle {
    position: absolute;
    top: 20%;
    right: -60px;
    height: 60px;
    width: 60px;
    z-index: 1;
  }
  /* .content {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    height: 100%;
    transition: left .3s ease-in-out;
    background-color: lightgray;
  } */
  .sidebar.open {
      left: 0;
  }
  .sidebar-toogle-closed{
    display: none;
  }
  /* .content.open {
      left: 300px;
  } */